<header class="navbar">
   <nav class="navbar__container bg--primary">
      <div class="navbar__main reverse expanded">

         <div class="navbar__title">
            <a href="/"><h1 class="text-title">Resim</h1></a>
         </div>

         <div class="navbar__content">
            <button class="btn--icon ripple d-lg-none" data-target="#navbar" data-toggle="navbar">
               <i class="menu-open"></i>
            </button>

            <ul class="navbar__list end d-sm-none d-md-none">
               <li class="navbar__item">
                  <a href="/" class="btn btn--flat btn--block text-start ripple">Inicio</a>
               </li>
               <li class="navbar__item">
                  <div class="dropdown" id="componentes">
                     <button class="btn btn--flat btn--block text-start ripple" data-toggle="dropdown" data-target="#componentes">
                        Componentes
                        <i class="arrow-bottom"></i>
                     </button>
                     <div class="dropdown__menu w-100">
                        <a href="/accordion" class="btn btn--flat btn--block text-start ripple">Accordion</a>
                        <a href="/button" class="btn btn--flat btn--block text-start ripple">Buttons</a>
                        <a href="/card" class="btn btn--flat btn--block text-start ripple">Card</a>
                        <a href="/carousel" class="btn btn--flat btn--block text-start ripple">Carousel</a>
                        <a href="/dropdown" class="btn btn--flat btn--block text-start ripple">Dropdown</a>
                        <a href="/form" class="btn btn--flat btn--block text-start ripple">Form</a>
                        <a href="/modal" class="btn btn--flat btn--block text-start ripple">Modal</a>
                        <a href="/navbar" class="btn btn--flat btn--block text-start ripple">Navbar</a>
                        <a href="/preloader" class="btn btn--flat btn--block text-start ripple">Preloader</a>
                     </div>
                  </div>
               </li>
               <li class="navbar__item">
                  <div class="dropdown" id="themes">
                     <button class="btn btn--flat btn--block text-start ripple" data-toggle="dropdown" data-target="#themes">
                        Themes
                        <i class="arrow-bottom"></i>
                     </button>
                     <div class="dropdown__menu">
                        <a href="/background" class="btn btn--flat btn--block text-start ripple">
                           Background
                        </a>
                        <a href="/text" class="btn btn--flat btn--block text-start ripple">
                           Text
                        </a>
                     </div>
                  </div>
               </li>
               <li class="navbar__item">
                  <a href="/layout" class="btn btn--flat btn--block text-start ripple">
                     Grid
                  </a>
               </li>
            </ul>

            <ul class="navbar__list d-lg-none left" id="navbar">
               <li class="navbar__item">
                  <a href="/" class="btn btn--flat btn--block text-start ripple">Inicio</a>
               </li>
               <li class="navbar__item">
                  <div class="accordion" data-toggle="accordion">
                     <div class="accordion__item accordion__active">
                       <button class="btn btn--flat btn--block text-start ripple accordion__btn">
                          Componentes
                          <i class="arrow-bottom"></i>
                        </button>
                       <div class="accordion__content">
                         <div class="accordion__description">
                           <a href="/accordion" class="btn btn--flat btn--block text-start ripple">
                              Accordion
                           </a>
                           <a href="/button" class="btn btn--flat btn--block text-start ripple">
                              Buttons
                           </a>
                           <a href="/card" class="btn btn--flat btn--block text-start ripple">
                              Card
                           </a>
                           <a href="/carousel" class="btn btn--flat btn--block text-start ripple">
                              Carousel
                           </a>
                           <a href="/dropdown" class="btn btn--flat btn--block text-start ripple">
                              Dropdown
                           </a>
                           <a href="/form" class="btn btn--flat btn--block text-start ripple">
                              Form
                           </a>
                           <a href="/modal" class="btn btn--flat btn--block text-start ripple">
                              Modal
                           </a>
                           <a href="/navbar" class="btn btn--flat btn--block text-start ripple">
                              Navbar
                           </a>
                           <a href="/preloader" class="btn btn--flat btn--block text-start ripple">
                              Preloader
                           </a>
                           <a href="/background" class="btn btn--flat btn--block text-start ripple">
                              Background
                           </a>
                           <a href="/text" class="btn btn--flat btn--block text-start ripple">
                              Text
                           </a>
                         </div>
                       </div>
                     </div>
                   </div>
               </li>
               <li class="navbar__item">
                  <div class="accordion" data-toggle="accordion">
                     <div class="accordion__item">
                       <button class="btn btn--flat btn--block text-start ripple accordion__btn">
                          Themes
                          <i class="arrow-bottom"></i>
                        </button>
                       <div class="accordion__content">
                         <div class="accordion__description">
                           <a href="./background.html" class="btn btn--flat btn--block text-start ripple">
                              Background
                           </a>
                           <a href="./text.html" class="btn btn--flat btn--block text-start ripple">
                              Text
                           </a>
                         </div>
                       </div>
                     </div>
                   </div>
               </li>
               <li class="navbar__item">
                  <a href="./layout.html" class="btn btn--flat btn--block text-start ripple">Layout</a>
               </li>
            </ul>

         </div>
      </div>
   </nav>
</header>